<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Functional">
<listeners>
    <listener class-name="runners.Listeners"/>
</listeners>
    <test name="WebScrapping Automation Framework">
        <classes>
            <class name="runners.TestRunner"/>
        </classes>

    </test>
</suite>